header.header
    ._container
        .header__body
            .header__logo 
                a(href='index' class='icon-header-logo')
            ul.header__links
                +headerLink('#', 'home')
                +headerLink('#', 'about us')
                +headerLink('#', 'what we do')
                +headerLink('#', 'media')
            .header__donate-btn
                a(href="#")
                    span Donate
                    